<ion-view view-title="">
  <ion-content>
    <div class="wrapper">
      <div class="title">TAILOR'D</div>
      <img id="colorpalette" src="../img/assets/Palettes/ff6b6b.2b526b.png" >
      <div class="body">
        <div>
          <img id="heart" src="../img/heartempty.png" onclick="favorite()">
        </div>
        <div class="top-clothing">
          <img id="topimage" src="../img/assets/women/tops/f.ff6b6b.png" height="180px" width="" onclick="generateNewImages()">
        </div>
        <div class="bottom-clothing">
          <img id="bottomimage" src="../img/assets/women/bottoms/f.2b526b.png" height="180px" width="" onclick="generateNewImages()">
        </div>
      </div>
      <div class="subtitle subtitleman"> TAP TO GENERATE YOUR OUTFIT</div>
    </div>
  </ion-content>
</ion-view>