<ion-view>
  <ion-content>
    <div class="wrapper">
      <ion-list>
          <div class="title">INVENTORY</div>
          <div class="line-separator"></div>
          <div class="menu">
            <button id="closetbutton" onclick="closetButton()">CLOSET
            <button id="favoritedbutton" onclick="favoritedButton()">FAVORITED
        </div>
   
        <!-- <div class="line-separator"></div>
 -->
        <div id="closet" class="tabcontent">
          <div class="head">           
            <img src="../../img/assets/women/tops/f.f2f7f2.png" class="img_l">
            <img src="../../img/assets/women/tops/f.c1302e.png" class="img_r">
            <img src="../../img/assets/women/tops/f.ff6b6b.png" class="img_l">
            <img src="../../img/assets/women/tops/f.6d6d6d.png" class="img_r">
            <img src="../../img/assets/women/tops/f.96e6b3.png" class="img_l">
            <img src="../../img/assets/women/tops/f.f4eod6.png" class="img_r">
            <img src="../../img/assets/women/bottoms/f.f5e2c8.png" class="img_l">
            <img src="../../img/assets/women/bottoms/f.333333.png" class="img_r">
            <img src="../../img/assets/women/bottoms/f.fcf7f1.png" class="img_l">
            <img src="../../img/assets/women/bottoms/f.0d1b1e.png" class="img_r">
            <img src="../../img/assets/women/bottoms/f.79b791.png" class="img_l">
            <img src="../../img/assets/women/bottoms/f.90afaf.png" class="img_r">
          </div>
        </div> 

        <div id="favorited" class="tabcontent">
          <div class="head">           
            <img src="../../img/outfits/1.png" class="img_l">
            <img src="../../img/outfits/2.png" class="img_r">
            <img src="../../img/outfits/3.png" class="img_l">
            <img src="../../img/outfits/4.png" class="img_r">
          </div>   
        </div> 

        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>