<ion-view view-title="Settings">
  <ion-content>
    <div class="wrapper">
        <div class="title">SETTINGS</div>
        <div class="line-separator"></div>
        <div class="subtitle subtitle2"> MANAGE YOUR ACCOUNT</div>
        <div class="user">
            <p>User: Jason Ma</p>
            <p>User ID: jasonma</p>
        </div>


        <div class="subtitle subtitle2">ABOUT</div>
        <div class="about">
            <p>TAILOR'D is the wardrobe assistant you never knew you needed</p>
            <p>It stores an image-based inventory of all your clothing, so you never forget which articles of clothing you own.</p>
            <p>Using our unique algorithm, TAILOR'D produces outfits for you, based on color palettes, the weather, and type of clothing</p>
            <p>Keep track of favorite outfits, and let TAILOR'D help you develop your fashion style.</p>
        </div>
    </div>
  </ion-content>
</ion-view>
