<ion-view view-title="">
  <ion-content>
    <div class="wrapper">
      <div class="title closettitle"> CHOOSE YOUR CLOSET</div>
      <div class="line-separator"></div>
      <div id="home">
        <div class="subtitle subtitle1"> TAP TO MANUALLY CHOOSE</div>
        <div class="subtitle subtitle2"> OUTFIT COMBINATIONS</div>
        
        <div class="imgtop">
          <img id="imgTop" src="img/emptytop.png" onclick="topsButton()">
        </div>
        <div class="imgbot">
          <img src="img/emptypants.png" id="imgBot" onclick="bottomsButton()">
        </div>
      </div>

      <div id="tops">

        <img src="../../img/emptyshirt_small.png" class="tops-image">
        <div id="tops-subtitle"> TOPS</div>
        <div id="tops-button" onclick="homeButton()"> CANCEL</div>
        <div class="line-separator"></div>
        
        <div class="head">           
          <img src="../../img/assets/women/tops/f.6b2737.png" onclick="changeImageTop(this.src)" class="img_l">
          <img src="../../img/assets/women/tops/f.6d6d6d.png" onclick="changeImageTop(this.src)" class="img_r">
          <img src="../../img/assets/women/tops/f.96e6b3.png" onclick="changeImageTop(this.src)" class="img_l">
          <img src="../../img/assets/women/tops/f.222e59.png" onclick="changeImageTop(this.src)" class="img_r">
          <img src="../../img/assets/women/tops/f.212121.png" onclick="changeImageTop(this.src)" class="img_l">
          <img src="../../img/assets/women/tops/f.a05b33.png" onclick="changeImageTop(this.src)" class="img_r">
          <img src="../../img/assets/women/tops/f.c1302e.png" onclick="changeImageTop(this.src)" class="img_l">
        </div>
      </div>

      <div id="bottoms">

        <img src="../../img/emptypants_small.png" class="bottoms-image">
        <div id="bottoms-subtitle"> BOTTOMS</div>
        <div id="bottoms-button" onclick="homeButton()"> CANCEL</div>
        <div class="line-separator"></div>
        
        <div class="head">           
          <img src="../../img/assets/women/bottoms/f.2b526b.png" onclick="changeImageBottom(this.src)" class="img_l">
          <img src="../../img/assets/women/bottoms/f.0d1b1e.png" onclick="changeImageBottom(this.src)" class="img_r">
          <img src="../../img/assets/women/bottoms/f.3c383d.png" onclick="changeImageBottom(this.src)" class="img_l">
          <img src="../../img/assets/women/bottoms/f.79b791.png" onclick="changeImageBottom(this.src)" class="img_r">
          <img src="../../img/assets/women/bottoms/f.90afaf.png" onclick="changeImageBottom(this.src)" class="img_l">
          <img src="../../img/assets/women/bottoms/f.757f60.png" onclick="changeImageBottom(this.src)" class="img_r">
          <img src="../../img/assets/women/bottoms/f.30262c.png" onclick="changeImageBottom(this.src)" class="img_l">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
