<ion-view view-title="">
  <ion-content>
    <div class="wrapper">
      <div class="title"> CHOOSE YOUR CLOSET</div>
        <div class="line-separator"></div>
          <div class="subtitle"> TAP TO MANUALLY CHOOSE
            <div class="subtitle"> OUTFIT COMBINATIONS
              <div class="img1">
                <img src="img/emptytop.png" class="img1">
                </div>
              <div class="img2">
                <img src="img/emptypants.png" class="img2">
                </div>

          <!--<ion-pane>
            <ion-header-bar class="bar-stable">
              <h1 class="title">Ionic Blank Starter</h1>
            </ion-header-bar>
            <ion-content>
            </ion-content>-->
            </div>
          </div>
        </div>
      </div>
    </div> <!--wrapper-->
  </ion-content>
</ion-view>
