<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Inventory Tab -->
  <ion-tab title="" icon-off="inventory_grey" icon-on="inventory" href="#/tab/inventory">
    <ion-nav-view name="tab-inventory"></ion-nav-view>
  </ion-tab>

  <!-- Camera Tab -->
  <ion-tab title="" icon-off="camera_grey" icon-on="camera" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>

  <!-- generatorboard Tab -->
  <ion-tab title="" icon-off="generate_grey" icon-on="generate" href="#/tab/generator">
    <ion-nav-view name="tab-generator"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="" icon-off="shirt_grey" icon-on="shirt" href="#/tab/manual">
    <ion-nav-view name="tab-manual"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="" icon-off="settings_grey" icon-on="settings" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
